
@import './_config.css';
@import './_global.css';


#messaging-app {
	width: 100%;
	height: 100%;
}

.form-field {
	position: relative;
	width: 100%;
}

.form-field input {
	padding: 1em;
	width: 100%;
	height: 60px;
	box-sizing: border-box;
}

.btn { padding: 1em 4em; }

.top-round::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	width: calc(var(--toolbar-height) * 1.5);
	height: calc(var(--toolbar-height) * 1.5);
	background-color: inherit;
	transform: translate(0,-25%);
	border-radius: 100%;
}