
@import './_config.css';
@import './_global.css';


#messaging-app {
	width: 100%;
	height: 100%;
}

.form-field {
	position: relative;
	width: 100%;
}

.form-field input {
	padding: 1em;
	width: 100%;
	height: 50px;
	box-sizing: border-box;
}

.btn { padding: 1em 4em; border-radius: 4px; }

.top-round::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	width: calc(var(--toolbar-height) * 1.5);
	height: calc(var(--toolbar-height) * 1.5);
	background-color: inherit;
	transform: translate(0,-20%);
	border-radius: 100%;
}

[class*="profile-icon"] {
	background-color: var(--color-primary);
	border-radius: 100%;
}

.profile-icon {
	width: 50px;
	height: 50px;
}

.profile-icon-sm {
	width: 30px;
	height: px;
}

.profile-icon-lg {
	width: 100px;
	height: 100px;
}

.profile-icon-xl {
	width: 150px;
	height: 150px;
}

.dropdown-menu-item {
	display: block;
	width: 100%;
	padding: 0.5rem;
}